@{
    ViewData["Title"] = "Home Page";
}
@* https://docs.microsoft.com/aspnet/core *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.joker.movie/">building Web apps with ASP.NET Core</a>.</p>
</div>

